.nasa-content {
  @include clearfix;
}

.nasa-logo {
  display: none;

  @include mq-min($desktop-lg) {
    display: block;
    position: fixed;
    width: 200px;
    top: 35px;
    left: 35px;
  }
}

.nasa-heading {
  font: 700 1.8em "Sanchez", serif;
  margin-bottom: 0.5em;

  @include mq-min($tablet) {
    font-size: 2.6rem;
  }

  @include mq-min($desktop) {
    font-size: 3.6rem;
  }
}

.nasa-stamp {
  display: inline-block;
  border-bottom: 1px solid;
  padding: 0.3em 0;
  margin-bottom: 0.6em;
  font: 800 1.0em "Questrial", sans-serif;
  text-transform: uppercase;

  @include mq-min($tablet) {
    font-size: 1.4em;
    margin-bottom: 1.4em;
  }
}

.nasa-date,
.nasa-byline {
  display: inline-block;
  margin-bottom: 1em;
  font: italic 400 1.0em "Sanchez", sans-serif;
  color: rgba(51, 51, 51, 0.4);

  @include mq-min($desktop) {
    margin-bottom: 1.4em;
    font-size: 1.4rem;
  }
}

.nasa-date {
  @include mq-min($desktop) {
    margin-bottom: 1.4em;
    font-size: 1.6rem;
  }
}

.nasa-image,
.nasa-iframe{
  margin-bottom: 14px;
}

.nasa-image {

}

.nasa-desc {
  font: italic 400 1.4em/1.4em "Sanchez", serif;
  margin-bottom: 1.1em;

  @include mq-min($tablet) {
    font-size: 1.8em;
  }
}